html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e3e3e3;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.navbar-navbar {
    justify-self: center;
}

body.tema-oscuro .navbar-nav-links1 {
  color: #ffffff;
}

body.tema-claro .navbar-nav-links1 {
  color: #000000;
}

.navbar-branding-logo {
    padding-left: 60px;
}

a {
    color: #80FF44;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.contenedorReportar {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 625px;
  width: 850px;
  transform: translate(-50%, -50%);
  background-color: #2f2f2f;
  color: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  animation: ease-in 0.3s;
}

body.tema-oscuro .contenedorReportar {
  background-color: #2f2f2f;
}

body.tema-claro .contenedorReportar {
  background-color: #ffffff;
}

@keyframes aparecerReportar {
  0% {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.contenedorReportar.mostrar {
  display: block;
  animation: aparecerReportar 0.35s ease-in-out;
}

.display-reportar {
  display: flex;
  flex-direction: row;
}

.contenedorReportar .contenido-reportar-der,
.contenedorReportar .contenido-reportar-izq {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 20px;
  align-items: center;
  justify-items: left;
  margin: 10px;
  width: 50%;
}

body.tema-oscuro .contenido-reportar-der,
body.tema-oscuro .contenido-reportar-izq {
  color: #ffffff;
}

body.tema-claro .contenido-reportar-der,
body.tema-claro .contenido-reportar-izq {
  color: #000000;
}

.contenido-reportar-und {
  height: 40%;
  max-height: 200px;
}

.contenido-reportar-und .textarea-wrapper,
.contenido-reportar-und .report {
  height: 100%;
}

.contenido-reportar-und .home-buy.button {
  margin-top: 8px;
}

#h2-report {
  color: #ffffff;
  font-size: 16.5px;
}

body.tema-oscuro #h2-report {
  color: #ffffff;
}

body.tema-claro #h2-report {
  color: #000000;
}

.titleReportar {
  color: #ffffff;
}

body.tema-oscuro .titleReportar {
  color: #ffffff;
}

body.tema-claro .titleReportar {
  color: #000000;
}

.contenedorReportar .report {
  padding: 12px 12px 0px 12px; 
  width: 100%;
  max-height: 98.5%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16.8px;
  line-height: 1.5;
  font-family: inherit;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  background-attachment: local;
  scrollbar-width: none;
  background-color: #414141;
  background-image: linear-gradient(to bottom, transparent 80%, #414141 100%);
}

body.tema-oscuro .report {
  background-color: #414141;
  background-image: linear-gradient(to bottom, transparent 80%, #414141 100%);
}

body.tema-claro .report {
  background-color: #e3e3e3;
  color: #000000;
  background-image: linear-gradient(to bottom, transparent 80%, #e3e3e3 100%);
}

textarea.report {
  outline: none;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  max-height: 85%;
  overflow-y: auto;
}

textarea.report:focus {
  outline: none;
  box-shadow: none;
}

.producto-container {
    position: relative;
    z-index: 2;
    width: 1180px;
    justify-self: center;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    flex-wrap: wrap;
    background-color: #2f2f2f;
}

body.tema-oscuro .producto-container {
    background-color: #2f2f2f;
}

body.tema-claro .producto-container {
    background-color: #ffffff;
}

.der {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 400px;
}

body.tema-osuro .der {
  background-color: #2f2f2f;
}

body.tema-claro .der {
  background-color: #ffffff;
}

.producto-container .izq {
    flex: 1;
    min-width: 280px;
}

.producto-container .izq img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.producto-container .der {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
}

body.tema-oscuro .producto-container .der {
  color: #ffffff;
}

body.tema-claro .producto-container .der {
  color: #000000;
}

.producto-container .der h2 {
    font-size: 2rem;
    margin-bottom: 12px;
    text-align: left;
}
.producto-container .der p {
    font-size: 1rem;
    margin-bottom: 8px;
    line-height: 1.4;;
}

body.tema-oscuro .producto-container .der p {
    color: #cccccc
}

body.tema-claro .producto-container .der p {
    color: #797979
}

.producto-container .der .precio {
    font-size: 1.3rem;
    font-weight: bold;
    color: #80FF44;
    margin: 12px 0;
}
.producto-container .der button,
.producto-container .der .btn-ver-detalle {
    cursor: pointer;
    margin-top: auto;
    display: flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-left: var(--dl-layout-space-twounits);
    border-radius: 58px;
    padding-right: var(--dl-layout-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
}
.producto-container .der button:hover,
.producto-container .der .btn-ver-detalle:hover {
    opacity: 0.4;
    animation: ease-in;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}

.carousel-image.active {
  display: block;
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f2f2f;
  color: white;
  border: none;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.prev {
  padding-left: 13px;
  padding-right: 14px;
}

.next {
  padding-left: 14px;
  padding-right: 13px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
  transition: opacity 0.1s ease-in-out;
  opacity: 50%;
}

.producto-container .under {
  flex-basis: 100%;
  margin-top: 20px;
}

#fechaReserva {
  border-radius: 20px;
  background-color: #4f4f4f;
  color: #fff;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rating-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto;
  margin-top: 65px;
  margin-bottom: 80px;
}

.average-rating h1 {
  font-size: 93px;
  margin: 0;
  text-align: center;
}

body.tema-oscuro .average-rating h1 {
  color: #ffffff;
}

body.tema-claro .average-rating h1 {
  color: #000000;
}

.total-opiniones {
  font-size: 1.55em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

body.tema-oscuro .total-opiniones {
  color: #f1f1f1;
}

body.tema-claro .total-opiniones {
  color: #000000;
}

p {
  color: #ffffff;
}

.average-rating .stars {
  color: gold;
  font-size: 53px;
  text-align: center;
}

.stars {
  position: relative;
  display: inline-block;
  font-size: 53px;
  line-height: 1;
  color: #555;
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
}

.stars::before {
  content: '★★★★★';
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(0 calc(100% - var(--rating-percent, 0%)) 0 0);
}

.reportar-button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 58px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
}

.reportar-button:hover {
  transition: ease-in 0.1s;
  opacity: 0.3;
}

.login-link label {
  display: block;
  text-indent: -1.5em; /* saca el texto hacia la izquierda */
  padding-left: 2em;   /* mueve todo el bloque a la derecha */
  line-height: 1;    /* espacio vertical más agradable */
}

.contenedorReportar .login-link {
  margin-top: 20px;
}

.report-checkbox {
  margin-right: 0.5em;
  accent-color: #80FF44;
}

.rating-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0;
}

.rating-bar span:first-child {
  width: 60px;
}

.bar {
  width: 500px;
  flex: 1;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
}

body.tema-oscuro .bar {
  background: #4f4f4f;
}

body.tema-claro .bar {
  background: #d5d5d5;
}

.fill {
  height: 100%;
  border-radius: 10px;
  background: #80FF44;
}

body.tema-oscuro .fill {
  background: #80FF44;
}

body.tema-claro .fill {
  background: #80FF44;
}

.linea-separadora {
  width: 50%;
  height: 1px;
  opacity: 30%;
  margin: 10px auto;
  border-radius: 20px;
}

body.tema-oscuro .linea-separadora {
  background-color: #ffffff;
}

body.tema-claro .linea-separadora {
  background-color: #aaaaaa;
}

.opinions-container {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    margin-bottom: 50px;
    width: 1095px;
    justify-self: center;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
    flex-wrap: wrap;
    background-color: #2f2f2f;
}

body.tema-oscuro .opinions-container {
    background-color: #2f2f2f;
}

body.tema-claro .opinions-container {
    background-color: #ffffff;
}

.der2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  display: inline-block;
  width: 650px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  width: 100%;
  font-size: 21.5px;
}

body.tema-oscuro .der2 {
  background-color: #2f2f2f;
}

body.tema-claro .der2 {
  background-color: #ffffff;
}

.der2 .textarea-wrapper {
  margin-top: 40px;
  margin-bottom: 15px;
  height: 250px;
  overflow-y: hidden;
  border-radius: 6px;
  box-sizing: border-box;
  padding-bottom: 71px;
}

body.tema-oscuro .der2 .textarea-wrapper {
  background-color: #414141;
}

body.tema-claro .der2 .textarea-wrapper {
  background-color: #e3e3e3;
}

textarea.opinion {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  max-height: 85%;
  overflow-y: auto;
}

textarea.opinion:focus {
  outline: none;
  box-shadow: none;
}

.der2 .opinion {
  padding: 12px 12px 0px 12px; 
  width: 100%;
  max-height: 98.5%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16.8px;
  line-height: 1.5;
  font-family: inherit;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  background-attachment: local;
  scrollbar-width: none;
  background-color: #414141;
  background-image: linear-gradient(to bottom, transparent 80%, #414141 100%);
}

body.tema-oscuro .der2 .opinion {
  background-color: #414141;
  background-image: linear-gradient(to bottom, transparent 80%, #414141 100%);
}

body.tema-claro .der2 .opinion {
  background-color: #e3e3e3;
  background-image: linear-gradient(to bottom, transparent 80%, #e3e3e3 100%);
}

.der2 .opinion::-webkit-scrollbar {
  width: 0;  /* Chrome, Edge, Safari */
  background: transparent; /* Opcional, fondo transparente */
}

.opinion-footer {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 9px;
  margin-top: 35px;
}

.der2 .opinion-footer {
  justify-content: space-between;
  align-items: center;
}

#char-count {
  font-size: 0.9rem;
  color: #ffffff;
}

body.tema-oscuro #char-count {
  color: #ffffff;
}

body.tema-claro #char-count {
  color: #000000;
}

.opinion {
    background-color: #414141;
    color: #ffffff;
    border-radius: 6px;
    font-family: inherit;
    padding: 10px;
    width: 650px;
    height: 250px;
    resize: none;
    padding: 10px;
}

body.tema-oscuro .opinion {
  color: #ffffff;
}

body.tema-claro .opinion {
  color: #000000;
}

.opinions-container .feedback {
    flex: 1;
    min-width: 180px;
}
.opinions-container .feedback{
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.opinions-container .der2 {
    flex: 1;
    min-width: 280px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
}
.opinions-container .der2 h2 {
    font-size: 2rem;
    margin-bottom: 12px;
    text-align: left;
}
.opinions-container .der2 p {
    font-size: 1rem;
    margin-bottom: 8px;
    line-height: 1.4;
    color: #cccccc;
}

 #linkChatProveedor {
    font-size: 1rem;
    margin-bottom: 8px;
    line-height: 1.4;
    margin: 0px;
    text-decoration: underline;
    cursor: pointer;
    color: #cccccc;
 }

 body.tema-oscuro #linkChatProveedor {
    color: #cccccc;
 }

  body.tema-claro #linkChatProveedor {
    color: #797979;
 }

 #linkChatProveedor:hover {
    color: #80FF44;
 }

.opinions-container .der2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #25d16d;
    margin: 12px 0;
}

.opinions-container .feedback {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.der2 .home-buy.button {
  position: absolute;
  right: 18px; /* ajusta horizontalmente */
  bottom: 33.5px; /* ajusta verticalmente */
  color: #fff;
  border-radius: 58px;
  padding-top: 14px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 14px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s ease;
}

.der2 .home-buy.button:hover {
  opacity: 0.4;
  animation: ease-in;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
  margin-bottom: 35px;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  margin-top: 15px;
  max-width: 360px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;;
}

body.tema-oscuro .feedback {
  background-color: #2f2f2f;
}

body.tema-claro .feedback {
  background-color: #ffffff;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4BB543;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
    font-weight: bold;
    text-align: center;
}

.star-span {
  color: #ffffff;
}

.home-footer {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
}

@media (max-width: 769px) {
  * {
    font-size: 0.95rem;
    box-sizing: border-box; /* aplica globalmente */
  }

  html, body {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-height: 100%;
    align-items: center;
  }

  .navbar-wrapper {
    max-width: 425px;
  }

  .navbar-branding-logo {
    padding-left: 0px;
  }

  /* ocultar botones innecesarios */
  #btnRegistro,
  #btnLogin {
    display: none;
  }

  #open-mobile-menu, #mobile-get-started {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* CONTENEDOR PRINCIPAL */
  .producto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;  
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box; /* 👉 asegura que el padding no sume ancho extra */
    gap: 15px;
  }

  /* IMAGEN */
  .izq {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .imagen-producto img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }

  /* INFORMACIÓN DEL PRODUCTO */
  .der,
  .der2 {
    order: 2;
    width: 100%;
    max-width: 380px;
    text-align: center;
    margin: 0 auto;
  }

  .der h2,
  .der2 h2 {
    font-size: 1.3rem;
    margin-bottom: 6px;
    align-self: flex-start;
  }

  .der p,
  .der2 p {
    align-self: flex-start;
  }

  .der2 .home-buy.button {
    width: 70px;
    height: 15px;
    justify-content: center;
  }

  .der2 #btnPublicarOpinion {
    font-size: 10px;
  }

  .home-buy.button .home-text43 {
    font-size: 10px;
  }

  .der p,
  .der2 p {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  /* BOTÓN COMPRAR */
  #btnComprar {
    order: 3;
    width: 85%;
    max-width: 340px;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 58px;
  }

  #info {
    align-items: center;
  }

  /* SECCIÓN UNDER */
  .under {
    order: 4;
    width: 100%;
    max-width: 380px;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .rating-summary {
    gap: 0px;
  }

  .bar {
    display: none;
  }

  .rating-bar {
    display: none;
  }

  /* OPINIONES */
  .opinions-container {
    order: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin: -20px auto 0 auto;
    gap: 15px;
  }

  .opinion {
    width: 95%;
    max-width: 360px;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
  }

  .rating {
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
  }

  .der2 .textarea-wrapper {
  margin-bottom: 0px;
  margin-top: 0px;
}

  .linea-separadora {
    display: none;
  }
}